# fly.toml app configuration file generated for cbv-twitter-api-rails on 2025-11-23T19:47:25-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'cbv-twitter-api'
primary_region = 'lax'
console_command = '/rails/bin/rails console'

[build]

[deploy]
  release_command = './bin/rails db:prepare'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[[statics]]
  guest_path = '/rails/public'
  url_prefix = '/'

[env]
  PORT = "8080"

[processes]
  app = "./bin/rails server"

