@import "variables";
@import "typography";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Chirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a,
a:visited {
  color: $black;
  text-decoration: none;
}

ul {
  list-style: none;
}

// Define a range for the spacing values, e.g., 0 to 9
$spacing-values: 0 1 2 3 4 5 6 7 8 9;

// Generate padding utility classes
@for $i from 1 through length($spacing-values) {
  .p-#{$i} {
    padding: $i * 0.25rem;
  } // All sides
  .pt-#{$i} {
    padding-top: $i * 0.25rem;
  } // Top
  .pb-#{$i} {
    padding-bottom: $i * 0.25rem;
  } // Bottom
  .pl-#{$i} {
    padding-left: $i * 0.25rem;
  } // Left
  .pr-#{$i} {
    padding-right: $i * 0.25rem;
  } // Right
  .px-#{$i} {
    padding-left: $i * 0.25rem;
    padding-right: $i * 0.25rem;
  } // Horizontal (left & right)
  .py-#{$i} {
    padding-top: $i * 0.25rem;
    padding-bottom: $i * 0.25rem;
  }
}

// Generate margin utility classes
@for $i from 1 through length($spacing-values) {
  .m-#{$i} {
    margin: $i * 0.25rem;
  } // All sides
  .mt-#{$i} {
    margin-top: $i * 0.25rem;
  } // Top
  .mb-#{$i} {
    margin-bottom: $i * 0.25rem;
  } // Bottom
  .ml-#{$i} {
    margin-left: $i * 0.25rem;
  } // Left
  .mr-#{$i} {
    margin-right: $i * 0.25rem;
  } // Right
  .mx-#{$i} {
    margin-left: $i * 0.25rem;
    margin-right: $i * 0.25rem;
  } // Horizontal (left & right)
  .my-#{$i} {
    margin-top: $i * 0.25rem;
    margin-bottom: $i * 0.25rem;
  } // Vertical (top & bottom)
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

// Generate gap utility classes
@for $i from 1 through length($spacing-values) {
  .gap-#{$i} {
    gap: $i * 0.25rem;
  }
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

@for $i from 1 through 12 {
  .space-y-#{$i} {
    & > * + * {
      margin-top: $i * 0.25rem;
    }
  }
}

@for $i from 1 through 12 {
  .space-x-#{$i} {
    & > * + * {
      margin-left: $i * 0.25rem;
    }
  }
}

.primary {
  color: $primary;
}

.success {
  color: green;
}

.danger {
  color: red;
}
