name: Fly Deploy
on:
  push:
    branches: ["main"] # Runs on pushes targeting the default branch
    paths:
      - "twitter-api-rails/**" # Trigger only on changes in the api folder
  workflow_dispatch:
jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    concurrency: deploy-group # optional: ensure only one action runs at a time
    defaults:
      run:
        working-directory: ./twitter-api-rails
    steps:
      - uses: actions/checkout@v4
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only
        working-directory: ./twitter-api-rails
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
